
*.DS_Store
*.lock
.vs/Printer Pro/v15/.suo
.vs/Printer Pro/v15/.suo
.vs/Printer Pro/v15/Server/sqlite3/storage.ide
.vs/Printer Pro/v15/Server/sqlite3/storage.ide-shm
.vs/Printer Pro/v15/Server/sqlite3/storage.ide-wal
.vs/Printer Pro/v15/sqlite3/storage.ide
